#actionButton li a:hover {
    background-color: #eaeaea;
}

.detail {
    width: 200px;
}

#dashboardInfo div {
    width: 23%;
    padding: 10px;
}

#attendanceDetail {
    padding: 10px;
    margin-bottom: 1em;
}

#attendanceDetail div {
    width: 33%;
}

#testhere {
    width: 1500px;
}

#calendar-card {
    width: 900px;
    margin: auto;
}

body {
    background: #f7f8fb;
}


.title {
    background-color: transparent;
}

.show_table {
    padding: 1em;
}

#navbar {
    background-color: rgb(0,158,169);
    /* background-color: rgb(8, 151, 176); */
    /* background-color: rgb(24, 41, 99, 0.9); */
}

#navbar button,
#navbar a {
    color: rgba(255, 255, 255, 0.8);
}


#shortcut {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
}

#shortcut img {
    width: 75px;
}

#shortcut a:hover {
    scale: 1.05;
    text-shadow: 2px 2px 3px rgba(255,255,255, 1);
}

.card_container {
    margin-top: 1.5rem;
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255, 0.6); /* Black w/opacity/see-through */
    backdrop-filter: blur(5px);
}

#profile_dropdown {
    background-color: rgb(0, 135, 145);
}

#profile_dropdown a:hover{
    background-color: rgb(1, 125, 134);
}

.dropdown-menu#navbar_dropdown a.dropdown-item {
    color: black;
}

#announcement_card {
    display: grid;
    grid-gap: 1em;
    grid-auto-rows: auto;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    text-align: center;
}