
#actionButton li a:hover {
    background-color: #eaeaea;
}

.detail {
    width: 200px;
}

#dashboardInfo div {
    width: 23%;
    padding: 10px;
}

#attendanceDetail {
    padding: 10px;
}
#attendanceDetail div {
    width: 33%;
}

#testhere {
    width: 1500px;
}
